.page-section {
  padding-top: 5vw;
  margin: auto;
  width: 50vw;
  height: 94vh; 
  transform: translateX(300px);
  opacity: 0;
  transition: 500ms;
}

.page-section.show {
  transform: translateX(-200px);
  opacity: 1;
}

/* for trapping spam */
#phone {
  display: none;
}

html, body {
  background: #1c1e21;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* for mobile devices */
@media (max-width: 1024px) {
  .page-section {
    padding-left: 0;
    padding-top: 0;
    transform: translateX(50px);
    opacity: 0;
    transition: 500ms;
  }

  .page-section.show {
    transform: translateX(-20px); /* TODO: Doesn't really center correctly, band-aid fix. Im not sure if it even centers correctly on web. This looks better on mobile tho. */
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .page-section {
    padding-left: 0;
    padding-top: 0;
    transform: translateX(10px);
    transition: 500ms;
  }
}